.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}

.header__brand {
    display: flex;
}

.header__brand img{
    width: 80px;
    height: 24px;
}

.header__siedbarBtn{
    background: none;
    border: 0;
    margin-right: 25px;
    position: relative;
}

.header__siedbarBtn:focus,
.header__siedbarBtn:hover,
.header__siedbarBtn:active{
    outline: none;
}

.header__siedbarBtn:focus::after{
    content: '';
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: -25%;
    left: -35%;
    border-radius: 50%;
    background-color: rgba(204,204,204, 0.5);
    z-index: -1;
}

.header__icon{
    color: #606060;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 25px;
}

.header__siedbarBtn .header__icon {
    margin-right: 0;
}

.header__search{
    display: flex;
    align-items: center;
}

.header__search input{
    width: 575px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-left: 5px;
}

.header__search button{
    width: 65px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__searchIcon{
    color: #333;
    font-size: 20px !important;
    margin-top: 2px;
    opacity: 0.6;
}

.header__icons{
    display: flex;
    align-items: center;
}
