.siedbar{
    margin-top: 10px;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px; 
}

.siedbar--scrollBar{
    overflow-y: scroll;
}

.siedbar--scrollBar::-webkit-scrollbar {
    width: 0;
}

.siedbar--scrollBar:hover::-webkit-scrollbar{
    width: 8px;
}

.siedbar--scrollBar::-webkit-scrollbar-track {
    background: none;
}
   
.siedbar--scrollBar::-webkit-scrollbar-thumb:hover,
.siedbar--scrollBar::-webkit-scrollbar-thumb {
    background: rgba(96,96,96, 0.3); 
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(96,96,96, 0.1);
    margin: 12px 0;
}

.siedbar h4{
    color: rgba(96,96,96, 0.8);
    font-size: 14px;
    padding: 8px 24px;
    text-transform: uppercase;    
}

